DATABASE_URL=
SESSION_ID=
PRIVATE=
BOT_NAME= 𝚸𝚮𝚯𝚵𝚴𝚰𝚾
OWNER_NAME= PhoenixFury
OWNER_NUMBER= 917973456275
MAKER= PhoenixFury 
SOCIAL_MEDIA_LINK=
GROUP_LINK= https://chat.whatsapp.com/FpJ4aiTVkyHHtqTIR960xX